@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

:root {
  --color-primary-200: hsl(345, 100%, 87%);
  --color-primary-300: hsl(345, 100%, 77%);
  --color-primary-400: hsl(345, 100%, 57%);
  --color-primary-500: hsl(345, 100%, 47%);
  --color-secondary-400: hsl(45, 100%, 71%);
  --color-secondary-500: hsl(45, 100%, 61%);

  --color-base-400: hsl(0, 0%, 100%);
  --color-base-500: hsl(0, 0%, 98%);
  --color-base-600: hsl(0, 0%, 96%);
  --color-base-700: hsl(0, 0%, 92%);
  --color-text-50: hsl(0, 0%, 90%);
  --color-text-100: hsl(0, 0%, 70%);
  --color-text-200: hsl(0, 0%, 50%);
  --color-text-300: hsl(0, 0%, 30%);
  --color-text-400: hsl(0, 0%, 10%);
  --color-border-light: hsl(0, 0%, 90%);

  --color-error-400: hsl(348, 100%, 60%);

  --width-sidebar: 100px;

  --shadow-light: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --shadow-line: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.08) 0px 0px 0px 1px;
}

*::-webkit-scrollbar-track {
  background-color: var(--color-base-600);
  border-radius: 10px;
  margin: 10px;
}

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-400);
  border-radius: 10px;
}
