body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

:root {
  --color-primary-400: hsl(353, 100%, 57%);
  --color-primary-500: hsl(353, 100%, 47%);
  --color-secondary-400: hsl(47, 99%, 73%);
  --color-secondary-500: hsl(47, 99%, 63%);
}
