.deals {
  .input {
    width: 100%;
    padding: 0.8rem 1rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--color-text-400);
    border: 0.15rem solid var(--color-base-300);
    border-radius: 0.5rem;
    background-color: var(--color-base-600);

    &::placeholder {
      color: var(--color-text-200);
    }

    &:focus {
      outline: none;
      border-color: var(--color-base-500);
    }
  }
}
