.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: var(--shadow-line);
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: var(--color-base-400);

  .image {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 0.5rem;
    background-color: var(--color-base-400);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 0.5rem;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    padding: 0.5rem 0;

    .name {
      font-size: 1rem;
      font-weight: 500;
      color: var(--color-text-400);
    }

    .price {
      font-size: 0.9rem;
      font-weight: 500;
      color: var(--color-text-200);
    }
  }
}
