.barcodeScanner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1000;
  width: 100%;
  max-width: 500px;
  aspect-ratio: 4/3;
  object-fit: cover;

  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--color-base-400);
  box-shadow: 0 0 16rem 8rem rgba(0, 0, 0, 0.1);
}
