.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-base-400);

    h2 {
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--color-text-400);
        padding: 1rem;
        margin: 0;

        span {
            color: var(--color-text-300);
            font-weight: 400;
        }
    }
}

.divider {
    margin: 0.5rem auto;
    width: 90%;
    height: 0.15rem;
    border-radius: 0.1rem;
    background-color: var(--color-base-600);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    margin-top: 1rem;
    border-radius: 0.7rem;
    background-color: var(--color-primary-400);
    color: var(--color-base-400);
    font-size: 1rem;
    font-weight: 500;
    border: none;
    box-shadow: var(--shadow-light);
    cursor: pointer;
    transition: background-color 0.3s;

    span {
        color: var(--color-primary-200);
        font-weight: 400;
        margin-left: 0.5rem;
    }

    &:hover {
        background-color: var(--color-primary-500);
    }
}


.bottom {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--color-base-400);

    .divider {
        margin: 0.5rem auto;
        width: 90%;
        height: 0.15rem;
        border-radius: 0.1rem;
        background-color: var(--color-base-600);
    }


}

.itemImage {
    height: 300px;
    width: auto;
    object-fit: contain;
}